<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HuNanDianxin of Excel/src/com/suma/test/MyExcel_HUNan.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.suma.test.MyExcel_HUNan"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HuNanDianxin of Excel"/>
</launchConfiguration>
